{% extends "layout.html" %}
{% block body %}
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="{{url_for('static', filename='video/golden.mp4')}}" type="video/mp4">
        </video>
        <div class="welcome">
            <h1>WELCOME TO <span> STOCK MARKET </span></h1>
        </div>

        <div class="center_part">
    
            <div class="quote">
                <h1>Course</h1>
                <h4>A course created by Anuj Singh.</h4>
            </div>
            
        </div>
        <div class="container1">
            <div class="container1_right">
                <h1>Get know about our course</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, facere aperiam! Cupiditate similique
                    atque, sapiente magnam quasi vitae suscipit. Rerum inventore ut numquam exercitationem quasi tenetur
                    amet dolorum, ab ullam quaerat! Dolore qui distinctio, odio repudiandae eius sunt repellat vel facilis
                    ipsam officiis nobis, perspiciatis ipsa odit vero suscipit numquam? Reiciendis esse, sunt inventore
                    doloremque, voluptates in quae modi neque, minus at pariatur! Velit natus placeat quae dolor amet,
                </p>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quis exercitationem consequatur deserunt perferendis, cumque nostrum, magnam ducimus officia labore fugiat. Ipsa, hic cum possimus asperiores odio numquam. Quasi, corporis. Impedit reiciendis natus officiis exercitationem quod magnam repellendus, illo alias quos placeat beatae numquam explicabo tempora ipsa nemo voluptatem fuga ipsam fugiat quaerat rem deserunt nostrum ex saepe. Nisi ad maiores ex enim quibusdam? Id ipsam nostrum minus natus quasi dicta fuga est, earum ut officia quas voluptas ullam voluptatibus. Quaerat accusamus consectetur ex, quos tempora sed reiciendis omnis consequatur quam asperiores accusantium quisquam eum ad fugit? Iste, ullam corporis?
                </p>
                <br><br>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptatum corporis voluptatem aut totam, earum aliquid explicabo cumque vel laboriosam harum nulla quo nobis eligendi voluptas molestias exercitationem aspernatur aliquam nam sunt sequi nisi! Et molestiae id animi exercitationem accusamus, libero omnis ipsa fuga iure iusto sit laboriosam. Placeat odit veniam repellendus debitis corporis! Laborum, voluptas. Similique mollitia tempora repudiandae deserunt optio nulla laborum nisi cupiditate, earum, impedit adipisci? Ducimus consectetur incidunt dicta sunt et itaque minima eaque suscipit dolorum quas iure, beatae totam animi inventore praesentium, facilis vero. Omnis saepe tempore natus exercitationem vero est eum provident voluptatibus explicabo!
                </p>
            </div>
            
        </div>

    </div>

    {% endblock %}